/* generic styles */
html, body {
	height: 100%;
}
body {
	position: relative;
	background: #F8F8F8;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-height: 1350px;
}
a {
	text-decoration: none;
	color: inherit;
}
::selection {
	color: white;
	background: #303030; /* Safari */
}
::-moz-selection {
	color: white;
	background: #303030; /* Firefox */
}

/* fonts */
@font-face {
    font-family: "HelveticaNeueCyr Thin";
    src: url("../fonts/helveticaneuecyr-thin-webfont.eot");
    src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff"),
    url("../fonts/helveticaneuecyr-thin-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Bold";
    src: url("../fonts/ptsans-bold-webfont.eot");
    src: url("../fonts/ptsans-bold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ptsans-bold-webfont.woff") format("woff"),
    url("../fonts/ptsans-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Regular";
    src: url("../fonts/ptsans-regular-webfont.eot");
    src: url("../fonts/ptsans-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ptsans-regular-webfont.woff") format("woff"),
    url("../fonts/ptsans-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Italic";
    src: url("../fonts/ptsans-italic-webfont.eot");
    src: url("../fonts/ptsans-italic-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ptsans-italic-webfont.woff") format("woff"),
    url("../fonts/ptsans-italic-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* header style */
.header {
	position: relative;
	background-image: url(img/header-background.png);
	background-position: 50% 0%;
    background-repeat: no-repeat; 
}
.headerWrapper {
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	width: 940px;
	z-index: 2;
}
.headerMenu {
	position: relative;
	overflow: hidden;
	background-image: url(img/header-menu-item-background.png);
	background-repeat: repeat-x;
	height: 60px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px -3px;
}
.headerLogo {
	position: absolute;
	background-image: url(img/solidworks-red-logo.png);
	height: 100%;
	width: 200px;
}
.headerMenuItems {
	float: right;
	display: table;
	width: 740px;
}
.headerMenuItem {
	display: table-cell;
	font-family: "PTSans Bold";
	font-size: 10pt;
	color: lightgrey;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	transition: background-color .2s 0s, color .2s 0s;
}
.headerMenuItem:hover {
	background: white;
	color: black;
	cursor: default;
}

/* boxes */
.boxes {
	position: absolute;
	left: -30px;
	top: -80px;
	background-image: url(img/boxes.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 1387px;
	height: 656px;
	z-index: 1;
}

/* slider style */
.sliderWrapper {
	float: left;
	width: 350px;
}
.sliderTitle {
	padding: 30px 0 10px 0;
	font-family: "HelveticaNeueCyr Thin";
	font-size: 30pt;
}
.sliderText {
	font-family: "PTSans Regular";
}
.sliderMenu {
	position: absolute;
	bottom: 50px;
}
.sliderMenuItem {
	float: left;
	margin-right: 20px;
  	box-shadow: 0px 0px 0px 3px transparent; 
	width: 7px;
	height: 7px;
	background: grey;
	cursor: pointer;
	transition: box-shadow .5s 0s, background-color .5s 0s;
}
.sliderMenuItem.selectedItem, .sliderMenuItem:hover {
	box-shadow: 0px 0px 0px 3px red;
	background: lightgrey;
}
.sliderPhotoContainer {
	margin-top: 10px;
	position: relative;
	left: 350px;
	top: 0px;
	width: 659px;
	height: 455px;
	z-index: 2;
}
.sliderPhoto {
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity .5s 0s, visibility .5s 0s;
	opacity: 0;
	visibility: hidden;
}
.sliderPhoto.visiblePhoto {
	opacity: 1;
	visibility: visible;
}

/* content style */
.contentWrapper {
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
	padding-bottom: 40px;
}
.leftSideContent {
	border-radius: 5px;
	box-shadow: 0px 2px 10px -5px;
	background: white;
	float: left;
	width: 300px;
	margin-right: 20px;
}
.rightSideContent {
	border-radius: 5px;
	box-shadow: 0px 2px 10px -5px;
	background: white;
	float: left;
	width: 620px;
	overflow: hidden;
}

/* left side content */
.mailInputAreaWrapper {
	position: relative;
	z-index: 2;
	padding: 25px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px -5px;
	border-bottom: 4px solid #F1F1F1;
}
.mailInputArea {
	position: relative;
	background-image: url(img/mail-input-background.png);
	background-repeat: repeat-x;
	border-radius: 5px;
	height: 34px;
}
.mailInput {
	position: absolute;
	left: 12px;
	top: 6px;
	font-family: "PTSans Italic";
	font-size: 11pt;
	background: transparent;
	border: none;
	outline: none;
	width: 135px;
}
.mailButton {
	position: absolute;
	overflow: hidden;
	top: 3px;
	right: 3px;
	width: 90px;
	height: 27px;
	text-transform: uppercase;
	font-family: "PTSans Regular";
	font-size: 8pt;
	border: none;
	outline: none;
	border-radius: 5px;
	color: white;
	background: #373737;
	cursor: pointer;
	transition: background .5s 0s;
}
.mailButton:hover {
	background: black;
}
.leftSideContentMenuItem {
	padding: 0 20px;
	font-family: "PTSans Bold";
	font-size: 9pt;
	height: 50px;
	text-transform: uppercase;
	line-height: 50px;
	vertical-align: middle;
	transition: background-color .2s 0s;
}
.leftSideContentMenuItem:after {
	content: '';
	display: block;
	position: relative;
	background: lightgrey;
	width: 100%;
	height: 1px;
}
.leftSideContentMenuImage {
	display: inline-block;
	vertical-align: text-bottom;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 17px;
	height: 16px;
	margin-right: 10px;
	opacity: .4;
	transition: opacity .2s 0s;
}
.leftSideContentMenuImage.Image1 {
	background-image: url(img/left-menu-image1.png);
}
.leftSideContentMenuImage.Image2 {
	background-image: url(img/left-menu-image2.png);
}
.leftSideContentMenuImage.Image3 {
	background-image: url(img/left-menu-image3.png);
}
.leftSideContentMenuImage.Image4 {
	background-image: url(img/left-menu-image4.png);
}
.leftSideContentMenuItem:hover {
	background-color: #F0F0F0;
}
.leftSideContentMenuItem:hover>.leftSideContentMenuImage {
	opacity: 1;
}
.leftSideContentBottomMenu {
	background: inherit;
	text-align: justify;
	border-top: 1px solid lightgrey;
	position: relative;
	z-index: 2;
	margin-top: -1px;
	padding: 20px 50px 5px 50px;
	box-shadow: 0 -2px 20px -10px;
}
.leftSideContentBottomMenu:after {
	content: '';
	font-size: 0;
	width: 100%;
	display: inline-block;
}
.search, .socialMenuBorder, .shape, .facebook, .vk, .twitter, .in, 
.facebook-mini, .vk-mini, .twitter-mini, .in-mini {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	transition: opacity .2s 0s;
	opacity: .4;
}
.search:hover, .socialMenuBorder:hover, .shape:hover, .facebook:hover, .vk:hover, .twitter:hover, .in:hover, 
.facebook-mini:hover, .vk-mini:hover, .twitter-mini:hover, .in-mini:hover {
	opacity: 1;
}
.search {
	width: 18px;
	height: 17px;
	background-image: url(img/search-icon.png);
	cursor: pointer;
}
.socialMenuBorder {
	width: 1px;
	height: 23px;
	background-image: url(img/left-menu-border.png); 
}
.shape {
	width: 17px;
	height: 16px;
	background-image: url(img/shape.png); 
}
.facebook {
	width: 9px;
	height: 17px;
	background-image: url(img/facebook-logo.png); 
}
.vk {
	width: 26px;
	height: 15px;
	background-image: url(img/VK.png); 
}
.twitter {
	width: 21px;
	height: 17px;
	background-image: url(img/twitter.png); 
}
.in {
	width: 18px;
	height: 18px;
	background-image: url(img/in.png); 
}
.openedSearchMenu {
	background: inherit;
	position: absolute;
	top: 15px;
	left: 25px;
	background: #F8F8F8;
	width: 220px;
	height: 30px;
	border-radius: 15px;
	padding-left: 25px;
	padding-top: 5px;
	transition: opacity .5s 0s, visibility .5s 0s;
	opacity: 0;
	visibility: hidden;
}
.openedSearchMenu.opened {
	opacity: 1;
	visibility: visible;
}
.searchInput {
	display: inline-block;
	font-family: "PTSans Italic";
	font-size: 11pt;
	background: transparent;
	border: none;
	outline: none;
	width: 135px;
	margin-left: 10px;
}

/* right side content */
.contentBlock {
	float: left;
	width: 260px;
	margin: 25px 5px 0px 30px;
}
.titleBlock {
	text-align: justify;
}
.titleBlock:after {
	content: '';
	display: inline-block;
	background: red;
	width: 100%;
	height: 2px;
}
.contentTitle {
	display: inline-block;
	font-family: "HelveticaNeueCyr Thin";
	font-size: 16pt;
}
.contentAll {
	display: inline-block;
	font-family: "PTSans Regular";
	font-size: 8pt;
	text-transform: uppercase;
	color: grey;
}
.contentAll:hover {
	text-decoration: underline;
}
.contentTextBlock {
	padding: 20px 0 20px 0;
	position: relative;
	border-bottom: 1px solid lightgrey;
}
.contentBlock :last-child {
	border: none;
}
.contentTextBlockTitle {
	font-family: "PTSans Regular";
	font-size: 11pt;
}
.contentTextBlockTitle:hover {
	color: maroon;
}
.contentTextBlockDate {
	padding: 5px 0 5px 0;
	font-family: "PTSans Italic";
	font-size: 9pt;
	color: lightgrey;
}
.contentTextBlockDescription {
	font-family: "PTSans Regular";
	font-size: 9pt;
	color: grey;
}
.facebook-mini, .vk-mini, .twitter-mini, .in-mini {
	margin-left: 5px;
	margin-top: -3px;
}
.facebook-mini {
	width: 5px;
	height: 11px;
	background-image: url(img/facebook-logo-mini.png); 
}
.vk-mini {
	width: 16px;
	height: 10px;
	background-image: url(img/VK-mini.png); 
}
.twitter-mini {
	width: 13px;
	height: 11px;
	background-image: url(img/twitter-mini.png); 
}
.in-mini {
	width: 11px;
	height: 11px;
	background-image: url(img/in-mini.png); 
}
.border-mini {
	display: inline-block;
	margin-left: 5px;
}

/* footer style */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #212121;
	height: 180px;
}
.phonesBlock {
	position: relative;
	height: 84px;
	width: 100%;
	margin-top: 7px;
	background-image: url(img/phones-block-background.png);
	background-repeat: repeat-x;
	box-shadow: 0 0 6px 0;
}
.phonesBlockWrapper {
	margin: 0 auto;
	padding-top: 20px;
	width: 940px;
	overflow: hidden;
	font-family: "PTSans Regular";
	font-size: 9pt;
}
.footerWrapper {
	margin: 0 auto;
	padding-top: 20px;
	width: 940px;
	overflow: hidden;
}
.solidWorksLogo {
	float: left;
	background-image: url(img/solidworks-logo.png);
	background-position: 0% 50%;
	background-repeat: no-repeat;
	width: 160px;
	height: 40px;
	border-right: 1px solid #4B4B4B;
}
.phoneBlock {
	float: left;
	margin: -4px 20px 0px 25px;
	width: 105px;
}
.phoneBlockCity {
	color: grey;
}
.phoneBlockPhone {
	color: #A0A0A0;
}
.itechGroupBlock {
	float: right;
	width: 105px;
	color: #505050;
	margin: -4px 0px 0px 0px;
}
.itechGroupBlock:hover .itechGroupLogoBlock {
	box-shadow: 0 0 30px 10px #EA2520 inset;
}
.itechGroupBlock:hover .itechGroupLogo {
	opacity: 1;
}
.itechGroupBlockText {
	float: left;
	text-align: right;
	width: 60px;
}
.itechGroupLogoBlock {
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	box-shadow: 0 0 30px 10px #101010 inset;
	transition: box-shadow .2s 0s;
}
.itechGroupLogo {
	margin: 7px 8px;
	opacity: .4;
	transition: opacity .2s 0s;
}
.solidWorksLink {
	float: left;
	width: 160px;
	font-family: "PTSans Bold";
	font-size: 11pt;
	color: grey;
	opacity: .5;
	text-decoration: underline;
	transition: opacity .2s 0s;
}
.solidWorksLink:hover {
	opacity: 1;
	text-decoration: none;
}
.solidWorksFooterText {
	float: left;
	width: 780px;
	font-family: "PTSans Italic";
	font-size: 9pt;
	color: #505050;
}
