body {
	background: #F8F8F8;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* fonts */
@font-face {
    font-family: "HelveticaNeueCyr Thin";
    src: url("../fonts/helveticaneuecyr-thin-webfont.eot");
    src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff"),
    url("../fonts/helveticaneuecyr-thin-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Bold";
    src: url("../fonts/ptsans-bold-webfont.eot");
    src: url("../fonts/ptsans-bold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ptsans-bold-webfont.woff") format("woff"),
    url("../fonts/ptsans-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Regular";
    src: url("../fonts/ptsans-regular-webfont.eot");
    src: url("../fonts/ptsans-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ptsans-regular-webfont.woff") format("woff"),
    url("../fonts/ptsans-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* header style */
.header {
	position: relative;
	background-image: url(img/header-background.png);
	background-position: 50% 0%;
    background-repeat: no-repeat; 
}
.headerWrapper {
	margin: 0 auto;
	padding-top: 50px;
	width: 960px;
}
.headerMenu {
	overflow: hidden;
	background-image: url(img/header-menu-item-background.png);
	background-repeat: repeat-x;
	height: 60px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px -3px;
}
.headerLogo {
	float: left;
	background-image: url(img/solidworks-red-logo.png);
	height: 100%;
	width: 194px;
}
.headerMenuItem {
	float: left;
	font-family: "PTSans Bold";
	font-size: 11pt;
	color: lightgrey;
	text-align: center;
	line-height: 60px;
	height: 100%;
	padding: 0 15px;
}
.headerMenuItem:hover {
	background: white;
	color: black;
}

/* slider style */
.sliderWrapper {
	float: left;
	width: 350px;
}
.sliderTitle {
	padding: 30px 0 10px 0;
	font-family: "HelveticaNeueCyr Thin";
	font-size: 30pt;
}
.sliderText {
	font-family: "PTSans Regular";
}
.sliderMenu {
	position: absolute;
	bottom: 50px;
}
.sliderMenuItem {
	float: left;
	margin-right: 20px;
  	box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0);  
	width: 7px;
	height: 7px;
	background: grey;
	cursor: pointer;
	transition: box-shadow .5s 0s, background-color .5s 0s;
}
.sliderMenuItem.selectedItem, .sliderMenuItem:hover {
	box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 1);  
	background: lightgrey;
	border
}
.sliderPhoto {
	margin-top: 10px;
	position: relative;
	width: 659px;
	height: 455px;
	left: 350px;
	top: 0px;
	background-image: url(img/slide1.png);
	background-position: 0% 0%;
    background-repeat: no-repeat;
    transition: background-image .5s 0s;
}

/* footer style */
.footer {
	background: #1B1B1B;
}
